body{
    background: #fff;
    color: #222;
    height: 100%;
    margin: 0;
    display: block;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    display: block;
}
.big .ctr-p{
    min-width: 1139px;
}
.ctr-p{
    margin: 0 auto;
}
div#viewport{
    position: absolute;
    top: 0;
    width: 100%;    
}
#viewport{
    min-height: 100%;
    position: relative;
    width: 100%;
}
#lga{
    font-size: 92px;
}
